boto3
botocore
prettytable
tzlocal
oauth2client
google-api-python-client
iso8601
azure-common
azure-mgmt-resource
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-hdinsight
azure-monitor
msrestazure
ppmail
pplogger
